.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Optional: Center the content horizontally */
}

.custom-select {
  width: 100%;
  max-width: 300px; /* Set a maximum width for the select */
  margin-bottom: 10px; /* Optional: Add some spacing between the select and the list */
  margin-top: 10px;
}

.list-group {
  width: 100%;
  max-width: 300px; /* Set a maximum width for the list */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  border: 1px solid #ddd;
  margin-bottom: -1px; /* Prevent double borders between items */
  padding: 8px;
  text-align: center;
  background-color: #f9f9f9;
}
